* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    width: 100%;
    height: 75px;
}

#spotifyLogo {
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    cursor: pointer;
}

header h2 {
    margin-left: 2px;
    margin-right: 50px;
    cursor: pointer;
}

h2 sup {
    font-size: 0.3em;
    vertical-align: super;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

hr {
    height: 20px;
    margin: 10px;
}

header a:hover {
    color: #1ed760;
}

body {
    background-color: #121212;
    color: white;
}

article.premium {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 150px 0 150px;
    background: linear-gradient(#ffd2d7 15%, #121212 45%);
}

div.premiumContent {
    margin-top: 80px;
    margin-left: 180px;
    padding: 20px;
    width: 40%;
}

div.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
}

div.premiumContent h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
}

div.premiumContent h2 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: justify;
}

article.premium button  {
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
}

article.premium button:hover {
    cursor: pointer;
    scale: 1.05;
}

button.freeTrial {
    background-color: #ffd2d7;
    border: none;
    width: 280px;
    height: 50px;
}

button.viewPlans {
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 210px;
    height: 50px;
}

p.conditions {
    text-align: justify;
    font-size: 12px;
}
a.conditions {
    color: white;
}

img#halloweenImg {
    width: 250px;
    height: 150px;;
}

img#premiumLogo {
    width: 15px;
    height: 15px;
}

article.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px 150px 0 150px;
}

table.tableContent {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ddd;
}

th.column1 {
    vertical-align: bottom;
}

th.column2 {
    vertical-align: top;
}
td.column1 {
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    font-weight: normal;
}

h2.tableContent {
    font-size: 45px;
    font-weight: bold;
}

h3.tableContent {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 80px;
}

p.notAvailable {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: gray;
}

img.check {
    width: 30px;
    height: 30px;
}

h2.plansContent {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

h3.plansContent {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 40px;
}

ul.paymentMethods {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

li.paymentMethods {
    background-color: white;
    border-radius: 5px;
    margin: 4px;
    padding: 4px 4px;
}

img.paymentLogo {
    width: 60px;
    height: 30px;
}

div.plansDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 20%;
}

h3#premiumBenefits {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

ul#premiumBenefitsList {
    list-style-type: none;
}

ul#premiumBenefitsList ::before {
    content: "✓";
    padding-right: 10px;
}

img#selectorLogo {
    width: 20px;
    height: 20px;
}

div.planSelector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    margin: 90px 0 0 20%;
    justify-items: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    padding-bottom: 120px;
}

div.planBox {
    background-color: #2a2a2a;
    border-radius: 10px;
    width: 350px;
    height: 480px;
    padding: 0 20px 20px 0;
    text-align: left;
}

div#familyBox {
    grid-column: 2/3;
    height: 380px;
}

p.planHeader {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 8px 1px 4px;
    width: 55%;
    height: 25px;
    border-radius:5px 0 5px 0;
}

p#individualHeader {
    background-color: #ffd2d7;
    color: black;
}

p#studentHeader {
    background-color: #c4b1d4;
    color: black;
}

p.premiumPlans {
    padding: 20px 0 20px 10px;
    font-size: 20px;
}

p.plansFooter, p.offerEnds {
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    color: #a7a7a7;
}

a.learnMore {
    color: #a7a7a7;
    font-size: 12px;
}

a.learnMore:hover {
    font-weight: bold;
}

h3.plansH3 {
    font-size: 35px;
    font-weight: bold;
    margin:0 0 15px 10px;
}

h3#individualH3 {
    color: #ffd2d7;
}

h3#studentH3 {
    color: #c4b1d4;
}

h3#duoH3 {
    color: #ffc862
}

h3#familyH3 {
    color: #a5bbd1
}

p.planPrice {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

p#individualPrice {
    font-size: 12px;
    margin-left: 10px;
    color: #a7a7a7;
    padding-top: 10px;
    padding-bottom: 15px;
}

p#studentPrice {
    font-size: 12px;
    margin-left: 10px;
    color: #a7a7a7;
    padding-top: 10px;
    padding-bottom: 15px;
}

hr.selectorHr {
    height: 0.1px;
    width: 95%;
    border: 1px solid #ffffff1a;
    background-color: #ffffff1a;
}

hr#duoHr {
    margin-top: 45px;
}

ul.featuresList {
    padding: 20px 0 20px 30px;
}

button.selectorButton {
    margin: 25px 60px 20px 50px;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

button.selectorButton:hover {
    cursor: pointer;
    scale: 1.05;
}

button#individualButton {
    background-color: #ffd2d7;
    color: black;
    margin-top: 65px;
}

button#studentButton {
    background-color: #c4b1d4;
    color: black;
    margin-top: 30px;
}

button#duoButton {
    background-color: #ffc862;
    color: black;
    margin-top: 105px;
}

button#familyButton {
    background-color: #a5bbd1;
    color: black;
}

article.questions {
    margin-left: auto;
    padding-bottom: 70px;
}

h2#questionsHeader {
    font-size: 35px;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 30px;
    font-weight: 700;
}

p#questionsP {
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px 70px;
}

a.support {
    color: white;
}

details {
    margin: auto;
    width: 65%;
    font-size: 20px;
    border-bottom: 1px solid #ffffff1a;
    padding: 15px 0 10px 0;
}

details:last-child {
    border-bottom: none;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

/* No conseguí que las flechas sean iguales. No me queda muy claro el uso de los <svg>*/
.arrow {
    width: 30px;
    height: 20px;
    fill: currentColor;
}

details[open] .arrow {
    transform: rotate(180deg);
    margin-right: 8px;
}

p.answer {
    font-size: 15px;
    padding: 15px 30px 30px;
    background-color: #2a2a2a;
    line-height: 1.5;
}

details:hover {
    background-color: #ffffff1a;
}

summary:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

details[open] {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

details[open] summary {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    background-color: #ffffff1a;
}

footer {
    background-color: black;
    padding: 80px 0;
}

footer a:hover {
    color: #1ed760;
}

nav#footerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.footerLogo {
    display: flex;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 0 15px
}

img#spotifyLogoFooter {
    width: 35px;
    height: 35px;
    margin-bottom: 250px;
}

h2#footerH2 {
    margin-bottom: 250px; ;
}

ul.footerList {
    list-style-type: none;
    padding: 0 15px;
    flex: 1;
    min-width: 150px;
}

h2.footerListTitle {
    color: #a7a7a7;
    font-size: 12px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

li.footerListItem {
    padding: 3px 0 15px;
}

div.socialMedia {
    margin-right: 180px;
}

ul.socialMediaList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

li.socialMediaList {
    height: 60px;
    width: 60px;
    background-color: #2a2a2a;
    margin-right: 15px;
    align-items: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.socialLogo {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    filter: invert(1);
}

div.region {
    flex-basis: 100%;
    text-align: center;
    font-size: 12px;
    color: #a7a7a7;
    margin: 30px 400px 0 1330px;
    margin-top: 30px;
    margin-right: 400px;
}

a.regionLink {
    font-size: 12px;
    color: #a7a7a7;
}

div.legals {
    flex-basis: 100%;
    text-align: center;
    font-size: 12px;
    color: #a7a7a7;
    margin-top: 30px;
}

ul#legalsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

a.legalsListItem {
    font-size: 12px;
    color: #a7a7a7;
}

span.copyright {
    margin-left: 150px;
}